includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - src/
        - tests/

    # Level 9 is the highest level
    level: 9

    ignoreErrors:
        - message: '#return type has no value type specified in iterable type array#'
          paths:
              - src/Ticketing/Domain/Model/Reservation.php
        - message: '#return type has no value type specified in iterable type array#'
          paths:
              - src/Ticketing/Domain/Model/Ticket.php
        
    excludePaths:
        #- ./*/*/FileToBeExcluded.php
